---
import { getEntry, render, getCollection } from 'astro:content';
import SimpleContentLayout from '@/layouts/SimpleContentLayout.astro';
import Tags from '@/components/Tags.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map(post => ({
        params: { id: post.id },
    }));
}

const { id } = Astro.params;
const post = await getEntry('blog', id);
if (!post) {
    throw new Error(`Blog post not found: ${id}`);
}
const { Content, headings } = await render(post);
const { title, tags, pubDate, description } = post.data;
---

<SimpleContentLayout headTitle={`Blog | ${title}`} title={title} isArticle={true} metaDescription={description}>
    <div slot="beforeProse" class="mb-8">
        <div class="flex mb-4 flex-wrap gap-y-4">
            <div class="text-sm flex-grow">{pubDate.toISOString().split('T')[0]}</div>
            <Tags names={tags} />
        </div>
        <div class="w-full text-gray-600 p-4 italic bg-gray-100 rounded">
            {description}
        </div>
    </div>
    <Content />
</SimpleContentLayout>
