---
import { getEntry, render, getCollection } from 'astro:content';
import SimpleContentLayout from '@/layouts/SimpleContentLayout.astro';
import Tags from '@/components/Tags.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map(post => ({
        params: { id: post.id },
    }));
}

const { id } = Astro.params;
const post = await getEntry('blog', id);
if (!post) {
    throw new Error(`Blog post not found: ${id}`);
}
const { Content, headings } = await render(post);
const { title, tags } = post.data;
const hasTagsBlock = tags && tags.length > 0;
---

<SimpleContentLayout headTitle={`Blog | ${title}`} title={title} isArticle={true}>
    {hasTagsBlock && <div class="mb-12">
        <Tags names={tags} slot="beforeProse" />
    </div>}
    <Content />
</SimpleContentLayout>
